.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fs-16 {
    font-size: 16px;
}

.inset-0 {
    inset: 0;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.gap24 {
    gap: 24px;
}

.gap68 {
    gap: 68px;
}

.gap226 {
    gap: 226px;
}

.pt-102 {
    padding-top: 102px;
}

